extends ../blog/layout

append css
  link(rel='stylesheet', href='/css/admin.css')
block content
  .back-bg
    h1 后台管理
    if user
      .back-meta
        span.back-auther
          i.fa.fa-user &nbsp; #{user.name}
        span.back-unlock 
          a(href='/admin/users/logout') 
            i.fa.fa-unlock-alt
            | &nbsp;注销
  .container-bank
    .back-left
      ul.nav-sidebar
        li
          a(class={active: pageName === "/admin/posts"}, href='/admin/posts')
            i.fa.fa-files-o
            | &nbsp;文章列表 
            span.sr-only (current)
        li
          a(class={active: pageName === "/admin/posts/add"}, href='/admin/posts/add') 
            i.fa.fa-file-o
            | &nbsp;添加文章
        li
          a(class={active: pageName === "/admin/categories"}, href='/admin/categories') 
            i.fa.fa-th-list
            | &nbsp;分类列表
        li
          a(class={active: pageName === "/admin/categories/add"}, href='/admin/categories/add') 
            i.fa.fa-plus
            | &nbsp;添加分类
        li
          a(class={active: pageName === "/admin/message"}, href='/admin/message')
            i.fa.fa-commenting
            | &nbsp;留言管理
      != messages()
    .back-right
      block right