extends layout

block right
  table.table
    thead
      tr
        th 昵称
        th 邮箱
        th 时间
        th 内容
        th 管理
    tbody
    each message in messagess
      tr
        td #{message.nikename}
        td #{message.email}
        td #{moment(message.created).format('YYYY-MM-DD HH:mm:ss')}
        td #{message.content}
        td
          //- a.btn.btn-sm.btn-success(href="/posts/category/" + category.title, target="_blank") 查看
          //- &nbsp;&nbsp;
          //- a.btn.btn-sm.btn-info(href="/admin/categories/edit/" + category._id, target="_blank") 编辑
          //- &nbsp;&nbsp;
          a(href="/admin/message/delete/" + message._id,) 删除