extends ./layout

append css
  link(rel="stylesheet", href="/css/about.css")
block content
  .about-bg
    h1 关于我
  .introduce
    .introduce-title 欢迎光临我的博客
    .introduce-connect
      p 欢迎来到本博客，能来的都是稀客，随便坐，随便看
      p 本博有着 “有访必回” 原则，只要在我这访问留言，小猫就立马去你那回访哦~
      p 如果你喜欢小猫这个博客的话，我不介意你可以收藏哈。
      p Po主一般2~5天才会更新文章，平时比较忙望各位小伙伴们理解与见谅哈。
      p 当然如果对本博有好的建议欢迎与我交流，或写信到我的邮箱 skillcat@yeah.net 并附上你的姓名（你总得让我知道你是谁吧）、网址（我好回访啊）等一些必要的信息。
      p 最后，再次非常感谢各位的来访。既来之，则安之~ 希望大家能在这里收获到一些东西，多多支持本博哈！