extends ../layout

append css
  link(rel='stylesheet', href='/css/blog.css')
block main
  block header
  .header
    .left
      img(src="/img/logo.png")
    .right
      .shouye 
        a(href='/') 首页
      each category in categories
        a(href='/category/' + category.title) #{category.title}
      .aboutme 
        a(href='/about') 关于我
      .liuyanban 
        a(href='/messageboard') 留言板
      .login 
        a(href='/admin/users/login')
          i.fa.fa-user
  block content
  block footer
    footer.blog-footer
      p blog by luoxufang
      p
        a(href='#') Back to top
        | &nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/admin/users/login') Login
        //- &nbsp;&nbsp;&nbsp;&nbsp;
        //- a(href='/admin/users/register') Register