extends ../layout

append css
  link(rel='stylesheet', href='/css/blog.css')
block main
  block header
  .header
    .left 猫猫
    .right
      .shouye 首页
      .aboutme 关于我
      .liuyanban 留言板
      .login 
        a(href='/admin/users/login') 登录
  block content
  block footer
    footer.blog-footer
      p blog by zhangzhichao
      p
        a(href='#') Back to top
        | &nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/admin/users/login') Login
        //- &nbsp;&nbsp;&nbsp;&nbsp;
        //- a(href='/admin/users/register') Register