extends ./layout

append css
  link(rel="stylesheet", href="/css/board.css")
block content
  .board-bg
    h1 留言板
  each message in messages
    .post
      .post-info
        .post-h
        p.nikename #{message.nikename} 
        p.date #{moment(message.created).format('YYYY-MM-DD')}
      .post-content
        p.content #{message.content}
  form.smart-green(action="/message/" method="post" ,enctype="application/x-www-form-urlencoded")
    h1 我要留言
      span 留下你想对我说的话
    label
      span 你的名字 :
      input#name(type="text" name="nikename" placeholder="")
    label
      span 你的邮箱 :
      input#email(type="email" name="email" placeholder="")
    label
      span 留言内容 :
      textarea#message(name="content" placeholder="")
    label
      span &nbsp;
      button.button 留言