doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0")
    meta(name='description', content="张智超blog是张智超的个人网站，用来记录个人的学习，生活记录")
    meta(name='keywords', content="张智超,个人网站,node")
    link(rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" media="screen")
    title #{title}
    block css
      link(rel='stylesheet', href='/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/base.css')
  body
    block main

//- <!DOCTYPE html>
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     meta(http-equiv="X-UA-Compatible", content="ie=edge")
//-     link(rel="shortcut  icon" type="image/x-icon" href="/img/favicon.ico" media="screen")
//-     link(rel="stylesheet", href="/css/base.css")
//-     block css
//-     title #{title}
//-   body
//-     .header
//-       .left 猫猫
//-       .right
//-         .shouye 首页
//-         .aboutme 关于我
//-         .liuyanban 留言板
//-         .login 登录
//-     block main
